<html>
  <head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">	    -->
  <title>考勤异常数据</title>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/signin.css" />
  </head>

  <body>

  <div id="container" class="container">
  <% for(var name in data) {%>
  <div >
  姓名：<%- name %>&nbsp;&nbsp;&nbsp;
  时间： <%- data[name] %>
  </ div>
  <% } %>      
  </div> 
  </body>
</html>
